body{
    
}

.yozuv{
    background-image: url(../flexbox/rasmlar/interior.jpg);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
      
}